.info-background > a:hover, a:focus {
    background-color: transparent !important;
}
		
.title-gradient {
	background: #5BC0DE; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #5BC0DE, LightBlue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #5BC0DE, LightBlue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #5BC0DE, LightBlue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #5BC0DE, LightBlue); /* Standard syntax */
}

#pdg {
	width: 100%;
	height: 225px;
	display: block;
}

#pdgA, #pdgB, #pdgC, #pdgD, #pdgE {
	width: 100%;
	height: 350px;
	display: block;
}

#editor { 
	border-style: solid;
	border-width: 1px;
	border-color: black;
	min-height: 175px;
	width: 100%;
}

.accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family:'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content:"\e114";
	/* adjust as needed, taken from bootstrap.css */
	float: right;
	position: relative;
	bottom: 0px;
	font-size: 15pt;
	/* adjust as needed */
	color: grey;
	/* adjust as needed */
}

.accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content:"\e080";
	/* adjust as needed, taken from bootstrap.css */
}

#code-nodes, #pdgA-nodes, #pdgB-nodes, #pdgC-nodes, #pdgD-nodes, #pdgE-nodes {
	overflow: auto;
	height: 225px;
	border-style: solid;
	border-width: 1px;
}

.code-node-item {
	font-size: 9pt;
}

.list-group.in:hover { overflow:visible; }